In [5]:
import sys
from importlib import reload
sys.path.append('..')
import mysetting
reload(mysetting)

In [2]:
file = './datacode_for_book/chapter2/fwf_data'
pd.read_csv(file,header=None)
pd.read_fwf(file,widths=[5,2,5,4,2],header=None)

                      0
0  a2331a9013a3211a9981
1  b4432b3199b9766b2212
2  c3294c1099c7631c4302

       0   1      2     3   4
0  a2331  a9  013a3  211a  99
1  b4432  b3  199b9  766b  22
2  c3294  c1  099c7  631c  43

# 导入excel

In [3]:
import xlrd
xlsx = xlrd.open_workbook('./datacode_for_book/chapter2/demo.xlsx')
xlsx.name_obj_list

[]

In [4]:
sheet1 = xlsx.sheets()[0]
sheet1

In [5]:
sheet1.name
sheet1.ncols
sheet1.nrows
sheet1.number

'Sheet1'

4

10

0

In [6]:
sheet1.row_values(4)

['431381197408191515', '有效', 42725.0, '深圳市']

In [7]:
sheet1.col_values(2)

['Create_Time',
 42725.0,
 42725.0,
 42725.0,
 42725.0,
 42725.0,
 42725.0,
 42725.0,
 42725.0,
 42725.0]

In [8]:
sheet1.row(3)

[text:'431381197903117478', text:'有效', xldate:42725.0, text:'深圳市']

In [9]:
sheet1.row(3)[2]
sheet1.row(3)[2].value

xldate:42725.0

42725.0

In [10]:
for i in range(sheet1.nrows):
    sheet1.row_values(i)

['ID_number', 'Status', 'Create_Time', 'Business_City']

['431381198109106573', '有效', 42725.0, '深圳市']

['431381198809122734', '有效', 42725.0, '深圳市']

['431381197903117478', '有效', 42725.0, '深圳市']

['431381197408191515', '有效', 42725.0, '深圳市']

['431381197606166011', '有效', 42725.0, '深圳市']

['43138119850623339X', '有效', 42725.0, '深圳市']

['431381198908223477', '有效', 42725.0, '深圳市']

['431381198901176911', '有效', 42725.0, '深圳市']

['43138119870827275X', '有效', 42725.0, '深圳市']

# mongo

In [3]:
from pymongo import MongoClient
from urllib.parse import quote_plus
# user=mysetting.mongo_account
# password=mysetting.mongo_pwd
# host = ':'.join([mysetting.ip,str(mysetting.mongo_port)])

# uri = "mongodb://{}:{}@{}".format(quote_plus(user), quote_plus(password), host)
client = MongoClient('180.76.96.173',27017)
db = client.admin
db.authenticate(mysetting.mongo_account,mysetting.mongo_pwd,mechanism='MONGODB-CR')
mydb = client.test
orders = mydb.ordersets
terms = [{"user": "tony", "id": "31020", "age": "30", "products": ["215120", "245101", "128410"], "date": "2017-04-06"},
         {"user": "lucy", "id": "32210", "age": "29", "products": ["541001", "340740", "450111"],
          "date": "2017-04-06"}]  # 定义一条数据集合用于插入
orders.insert_many(terms)  # 插入数据

True

In [4]:
for i in orders.find():
    print(i)

{'_id': ObjectId('5bf35f6641ca692d20e84acd'), 'user': 'tony', 'id': '31020', 'age': '30', 'products': ['215120', '245101', '128410'], 'date': '2017-04-06'}
{'_id': ObjectId('5bf35f6641ca692d20e84ace'), 'user': 'lucy', 'id': '32210', 'age': '29', 'products': ['541001', '340740', '450111'], 'date': '2017-04-06'}
{'_id': ObjectId('5bf35fbf41ca692d20e84ad1'), 'user': 'tony', 'id': '31020', 'age': '30', 'products': ['215120', '245101', '128410'], 'date': '2017-04-06'}
{'_id': ObjectId('5bf35fbf41ca692d20e84ad2'), 'user': 'lucy', 'id': '32210', 'age': '29', 'products': ['541001', '340740', '450111'], 'date': '2017-04-06'}
{'_id': ObjectId('5bf5f40341ca690d6c11871b'), 'user': 'tony', 'id': '31020', 'age': '30', 'products': ['215120', '245101', '128410'], 'date': '2017-04-06'}
{'_id': ObjectId('5bf5f40341ca690d6c11871c'), 'user': 'lucy', 'id': '32210', 'age': '29', 'products': ['541001', '340740', '450111'], 'date': '2017-04-06'}

# API

In [11]:
import requests
add = '银河SOHO'
ak = mysetting.AK
url = 'http://api.map.baidu.com/geocoder/v2/?address={}&output=json&ak={}'.format(add,ak)
req = requests.get(url)
res = req.text
res

'{"status":0,"result":{"location":{"lng":116.43974119798982,"lat":39.92662553986877},"precise":1,"confidence":80,"comprehension":100,"level":"商务大厦"}}'

In [10]:
req.url

'http://api.map.baidu.com/geocoder/v2/?address=%E9%93%B6%E6%B2%B3SOHO&output=xml&ak=KgnEnmmieneq23oBrOA8hug7f30yXhN9'

In [12]:
import json
json.loads(res)

{'status': 0,
 'result': {'location': {'lng': 116.43974119798982, 'lat': 39.92662553986877},
  'precise': 1,
  'confidence': 80,
  'comprehension': 100,
  'level': '商务大厦'}}

In [93]:
url = 'http://api.map.baidu.com/geocoder/v2/?address={}&output=xml&ak={}'.format(add,ak)
req = requests.get(url)
res = req.content
res

b'<?xml version="1.0" encoding="utf-8"?>\n<GeocoderSearchResponse>\n\t<status>0</status>\n\t<result>\n\t\t<location>\n\t\t\t<lng>116.439741198</lng>\n\t\t\t<lat>39.9266255399</lat>\n\t\t</location>\n\t\t<precise>1</precise>\n\t\t<confidence>80</confidence>\n\t\t<comprehension>100</comprehension>\n\t\t<level>\xe5\x95\x86\xe5\x8a\xa1\xe5\xa4\xa7\xe5\x8e\xa6</level>\n\t</result>\n</GeocoderSearchResponse>\n\n'

In [16]:
from lxml import etree

In [94]:
html = etree.HTML(res)

In [97]:
html = etree.tostring(html,encoding='utf-8').decode('utf-8')

'<html><body><geocodersearchresponse>\n\t<status>0</status>\n\t<result>\n\t\t<location>\n\t\t\t<lng>116.439741198</lng>\n\t\t\t<lat>39.9266255399</lat>\n\t\t</location>\n\t\t<precise>1</precise>\n\t\t<confidence>80</confidence>\n\t\t<comprehension>100</comprehension>\n\t\t<level>商务大厦</level>\n\t</result>\n</geocodersearchresponse>\n\n</body></html>'

In [109]:
html.xpath('//result/location/lng')[0].text

'116.439741198'