# 基于RFM的用户价值分析

In [1]:
with open('./datacode_for_book/chapter5/sales.csv','r',encoding='utf-8') as f:
    data = pd.read_csv(f)
   

data['ORDERID'] = data['ORDERID'].astype('object')
data['USERID'] = data['USERID'].astype('object')
data[:5]

   USERID   ORDERDATE     ORDERID  AMOUNTINFO
0  142074  2016-01-01  4196439032      9399.0
1   56927  2016-01-01  4198324983      8799.0
2   87058  2016-01-01  4191287379      6899.0
3  136104  2016-01-01  4198508313      5999.0
4  117831  2016-01-01  4202238313      5399.0

In [2]:
data.describe(include='all')

         USERID   ORDERDATE       ORDERID    AMOUNTINFO
count   86135.0       86133  8.613500e+04  86127.000000
unique  60503.0         347  7.605000e+04           NaN
top     74270.0  2016-04-18  3.945060e+09           NaN
freq       14.0         300  1.300000e+01           NaN
mean        NaN         NaN           NaN    744.705249
std         NaN         NaN           NaN   1425.211176
min         NaN         NaN           NaN      0.500000
25%         NaN         NaN           NaN     13.000000
50%         NaN         NaN           NaN     59.000000
75%         NaN         NaN           NaN    629.000000
max         NaN         NaN           NaN  30999.000000

In [3]:
data.isnull().any(axis=0)

USERID        False
ORDERDATE      True
ORDERID       False
AMOUNTINFO     True
dtype: bool

In [4]:
data[data.isnull().any(axis=1)]

       USERID   ORDERDATE     ORDERID  AMOUNTINFO
20      75849  2016-01-01  4197103430         NaN
72     103714         NaN  4136159682       189.0
114    155209  2016-01-01  4177940815         NaN
229    139877         NaN  4111956196         6.3
233     54599  2016-01-01  4119525205         NaN
260     65456  2016-01-02  4195643356         NaN
62134  122134  2016-09-21  3826649773         NaN
70342  116995  2016-10-24  3981569421         NaN
80110   98888  2016-12-06  3814398698         NaN
86069  145951  2016-12-29  4139830098         NaN

In [5]:
#异常值处理
data = data.dropna()
data = data[data.AMOUNTINFO > 1]
data[:3]

   USERID   ORDERDATE     ORDERID  AMOUNTINFO
0  142074  2016-01-01  4196439032      9399.0
1   56927  2016-01-01  4198324983      8799.0
2   87058  2016-01-01  4191287379      6899.0

In [6]:
data['ORDERDATE'] = pd.to_datetime(data['ORDERDATE'],format='%Y-%m-%d')
data.dtypes
data[:3]

USERID                object
ORDERDATE     datetime64[ns]
ORDERID               object
AMOUNTINFO           float64
dtype: object

   USERID  ORDERDATE     ORDERID  AMOUNTINFO
0  142074 2016-01-01  4196439032      9399.0
1   56927 2016-01-01  4198324983      8799.0
2   87058 2016-01-01  4191287379      6899.0

In [7]:
#数据转化 RFM
data = data.groupby('USERID').agg({'ORDERDATE':'max','AMOUNTINFO':('count','sum')})
data.columns = ['recency','frequency','monetary']
data = data.reset_index()
data[:3]

   USERID    recency  frequency  monetary
0   51220 2016-09-20          2     151.9
1   51221 2016-05-16          1      29.9
2   51224 2016-07-24          2      12.9

In [42]:
#计算RFM得分
deadline_date = pd.datetime(2017,1,1)
r_interval = (deadline_date - data['recency']).dt.days
data['r_score'] = pd.cut(r_interval,bins=5,labels=[5,4,3,2,1])
data['r_score'] = data['r_score'].astype('int64')
data['f_score'] = pd.cut(data['frequency'],bins=5,labels=[1,2,3,4,5])
data['f_score'] = data['f_score'].astype('int64')
data['m_score'] = pd.cut(data['monetary'],bins=5,labels=[1,2,3,4,5])
data['m_score'] = data['m_score'].astype('int64')
data[:3]

   USERID    recency  frequency  monetary  r_score  f_score  m_score
0   51220 2016-09-20          2     151.9        4        1        1
1   51221 2016-05-16          1      29.9        2        1        1
2   51224 2016-07-24          2      12.9        3        1        1

In [49]:
data['rfm_wsocre'] = data['r_score'] * 0.6 + data['f_score'] * 0.3 + data['m_score'] * 0.1
data['rfm_comb'] = data['r_score'].astype('str').str.cat(data['f_score'].astype('str')).str.cat(data['m_score'].astype('str'))
data[:3]

,USERID,recency,frequency,monetary,r_score,f_score,m_score,rfm_wsocre,rfm_comb
0,51220,2016-09-20,2,151.9,4,1,1,2.8,411
1,51221,2016-05-16,1,29.9,2,1,1,1.6,211
2,51224,2016-07-24,2,12.9,3,1,1,2.2,311

In [56]:
data.groupby(['rfm_comb'])['rfm_comb'].count().sort_values(ascending=False)

rfm_comb
511    15456
411    13493
311    11020
211    10136
111     8769
521      478
421      227
321       78
221       12
412        2
121        2
555        1
322        1
212        1
Name: rfm_comb, dtype: int64

# 基于AdaBoost的营销响应预测

In [1]:
import time  # 导入自带时间库
from sklearn.preprocessing import OneHotEncoder  # 导入OneHotEncoder库
from sklearn.model_selection import StratifiedKFold, cross_val_score  # 导入交叉检验算法
from sklearn.feature_selection import SelectPercentile, f_classif  # 导入特征选择方法库
from sklearn.ensemble import AdaBoostClassifier  # 导入集成算法
from sklearn.pipeline import Pipeline  # 导入Pipeline库
from sklearn.metrics import accuracy_score  # 准确率指标

In [2]:
data = pd.read_excel('./datacode_for_book/chapter5/order.xlsx')
data[:3]

,age,total_pageviews,edu,edu_ages,user_level,industry,value_level,act_level,sex,blue_money,red_money,work_hours,region,response
0,39.0,77516.0,1.0,13.0,1.0,1.0,1,1.0,1.0,2174,0.0,40,1.0,0
1,50.0,83311.0,1.0,13.0,2.0,2.0,2,1.0,1.0,0,0.0,13,1.0,0
2,38.0,215646.0,2.0,9.0,3.0,3.0,1,1.0,1.0,0,0.0,40,1.0,0

In [3]:
data[data.isnull().any(axis=1)]

,age,total_pageviews,edu,edu_ages,user_level,industry,value_level,act_level,sex,blue_money,red_money,work_hours,region,response
106,17.0,304873.0,8.0,6.0,1.0,12.0,4,NaN,0.0,34095,0.0,32,1.0,0
148,64.0,181232.0,2.0,7.0,2.0,NaN,2,1.0,1.0,0,2179.0,40,1.0,0
174,28.0,149624.0,1.0,13.0,2.0,4.0,2,1.0,1.0,0,NaN,40,1.0,1
202,51.0,259323.0,1.0,NaN,2.0,2.0,2,1.0,1.0,0,0.0,50,1.0,1
226,60.0,NaN,8.0,6.0,3.0,12.0,1,4.0,0.0,0,0.0,10,1.0,0
245,56.0,203580.0,2.0,9.0,NaN,1.0,2,1.0,1.0,0,0.0,35,5.0,0
272,50.0,30653.0,3.0,14.0,2.0,9.0,2,1.0,NaN,2407,0.0,98,1.0,0
15390,59.0,98361.0,NaN,10.0,2.0,7.0,2,1.0,1.0,0,0.0,40,1.0,1
17783,24.0,604537.0,2.0,9.0,1.0,8.0,5,1.0,1.0,0,0.0,40,NaN,0
26541,54.0,286342.0,3.0,14.0,1.0,NaN,1,1.0,0.0,0,0.0,32,1.0,1
33391,NaN,148380.0,2.0,9.0,2.0,10.0,3,1.0,0.0,1424,0.0,10,1.0,0
36573,41.0,70447.0,2.0,10.0,2.0,6.0,2,3.0,1.0,0,0.0,60,NaN,0

In [4]:
data.groupby('response')['response'].count()

response
0    30415
1     9584
Name: response, dtype: int64

In [5]:
na_rules = {'age': data['age'].mean(),
        'total_pageviews': data['total_pageviews'].mean(),
        'edu': data['edu'].median(),
        'edu_ages': data['edu_ages'].median(),
        'user_level': data['user_level'].median(),
        'industry': data['user_level'].median(),
        'act_level': data['act_level'].median(),
        'sex': data['sex'].median(),
        'red_money': data['red_money'].mean(),
        'region': data['region'].median()
        }  # 字典：定义各个列数据转换方法
data = data.fillna(na_rules)  # 使用指定方法填充缺失值
data[:3]

,age,total_pageviews,edu,edu_ages,user_level,industry,value_level,act_level,sex,blue_money,red_money,work_hours,region,response
0,39.0,77516.0,1.0,13.0,1.0,1.0,1,1.0,1.0,2174,0.0,40,1.0,0
1,50.0,83311.0,1.0,13.0,2.0,2.0,2,1.0,1.0,0,0.0,13,1.0,0
2,38.0,215646.0,2.0,9.0,3.0,3.0,1,1.0,1.0,0,0.0,40,1.0,0

In [6]:
var_list = {'edu': 'int32',
        'user_level': 'int32',
        'industry': 'int32',
        'value_level': 'int32',
        'act_level': 'int32',
        'sex': 'int32',
        'region': 'int32'
        }  # 字典：定义要转换的列及其数据类型
for var, type in var_list.items():  # 循环读出列名和对应的数据类型
    data[var] = data[var].astype(type)  # 数据类型转换
    
data.dtypes

age                float64
total_pageviews    float64
edu                  int32
edu_ages           float64
user_level           int32
industry             int32
value_level          int32
act_level            int32
sex                  int32
blue_money           int64
red_money          float64
work_hours           int64
region               int32
response             int64
dtype: object

In [10]:
data_con = data[['edu', 'user_level', 'industry', 'value_level', 'act_level', 'sex', 'region']]  # 选择要做标志转换的数据
data_org = data[['age', 'total_pageviews', 'edu_ages', 'blue_money', 'red_money', 'work_hours']].values  # 设置不作标志转换的列

enc = OneHotEncoder(categories='auto')  # 建立标志转换模型对象
enc.fit(data_con)  # 训练模型
data_con_new = enc.transform(data_con).toarray()  # 转换数据并输出为数组格式
new_matrix = np.hstack((data_org,data_con_new))  # 将未转换的数据与转换后的数据合并
new_matrix

OneHotEncoder(categorical_features=None, categories='auto',
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

array([[3.90000e+01, 7.75160e+04, 1.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [5.00000e+01, 8.33110e+04, 1.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.80000e+01, 2.15646e+05, 9.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [6.00000e+01, 1.02310e+05, 1.20000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.80000e+01, 2.40175e+05, 7.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.10000e+01, 1.45441e+05, 9.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [11]:

# 获得最佳模型参数
def get_best_model(X, y):
    '''
    结合交叉检验得到不同参数下的分类模型结果
    :param X: 输入X（特征变量）
    :param y: 预测y（目标变量）
    :return: 特征选择模型对象
    '''
    transform = SelectPercentile(f_classif, percentile=50)  # 使用f_classif方法选择特征最明显的50%数量的特征
    model_adaboost = AdaBoostClassifier()  # 建立AdaBoostClassifier模型对象
    model_pipe = Pipeline(steps=[('ANOVA', transform), ('model_adaboost', model_adaboost)])  # 建立由特征选择和分类模型构成的“管道”对象
    cv = StratifiedKFold(5)  # 设置交叉检验次数
    n_estimators = [20, 50, 80, 100]  # 设置模型参数列表
    score_methods = ['accuracy', 'f1', 'precision', 'recall', 'roc_auc']  # 设置交叉检验指标
    mean_list = list()  # 建立空列表用于存放不同参数方法、交叉检验评估指标的均值列表
    std_list = list()  # 建立空列表用于存放不同参数方法、交叉检验评估指标的标准差列表
    for parameter in n_estimators:  # 循环读出每个参数值
        t1 = time.time()  # 记录训练开始的时间
        score_list = list()  # 建立空列表用于存放不同交叉检验下各个评估指标的详细数据
        print ('set parameters: %s' % parameter)  # 打印当前模型使用的参数
        for score_method in score_methods:  # 循环读出每个交叉检验指标
            model_pipe.set_params(model_adaboost__n_estimators=parameter)  # 通过“管道”设置分类模型参数
            score_tmp = cross_val_score(model_pipe, X, y, scoring=score_method, cv=cv)  # 使用交叉检验计算指定指标的得分
            score_list.append(score_tmp)  # 将交叉检验得分存储到列表
        score_matrix = pd.DataFrame(np.array(score_list), index=score_methods)  # 将交叉检验详细数据转换为矩阵
        score_mean = score_matrix.mean(axis=1).rename('mean')  # 计算每个评估指标的均值
        score_std = score_matrix.std(axis=1).rename('std')  # 计算每个评估指标的标准差
        score_pd = pd.concat([score_matrix, score_mean, score_std], axis=1)  # 将原始详细数据和均值、标准差合并
        mean_list.append(score_mean)  # 将每个参数得到的各指标均值追加到列表
        std_list.append(score_std)  # 将每个参数得到的各指标标准差追加到列表
        print (score_pd.round(2))  # 打印每个参数得到的交叉检验指标数据，只保留2位小数
        print ('-' * 60)
        t2 = time.time()  # 计算每个参数下算法用时
        tt = t2 - t1  # 计算时间间隔
        print ('time: %s' % str(tt))  # 打印时间间隔
    mean_matrix = np.array(mean_list).T  # 建立所有参数得到的交叉检验的均值矩阵
    std_matrix = np.array(std_list).T  # 建立所有参数得到的交叉检验的标准差矩阵
    mean_pd = pd.DataFrame(mean_matrix, index=score_methods, columns=n_estimators)  # 将均值矩阵转换为数据框
    std_pd = pd.DataFrame(std_matrix, index=score_methods, columns=n_estimators)  # 将均值标准差转换为数据框
    print ('Mean values for each parameter:')
    print (mean_pd)  # 打印输出均值矩阵
    print ('Std values for each parameter:')
    print (std_pd)  # 打印输出标准差矩阵
    print ('-' * 60)
    return transform

In [12]:
X = new_matrix
y = data['response'].values
transform = get_best_model(X,y)

set parameters: 20

f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

              0     1     2     3     4  mean   std
accuracy   0.85  0.85  0.86  0.86  0.86  0.85  0.01
f1         0.66  0.64  0.66  0.66  0.66  0.66  0.01
precision  0.72  0.74  0.76  0.78  0.77  0.75  0.02
recall     0.60  0.57  0.59  0.58  0.57  0.58  0.01
roc_auc    0.91  0.90  0.91  0.91  0.91  0.91  0.00
------------------------------------------------------------
time: 12.526086330413818
set parameters: 50

f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

              0     1     2     3     4  mean   std
accuracy   0.86  0.86  0.86  0.87  0.86  0.86  0.00
f1         0.66  0.66  0.67  0.69  0.68  0.67  0.01
precision  0.75  0.76  0.77  0.78  0.77  0.76  0.01
recall     0.59  0.58  0.59  0.62  0.61  0.60  0.02
roc_auc    0.91  0.91  0.91  0.92  0.92  0.91  0.00
------------------------------------------------------------
time: 27.05350160598755
set parameters: 80

f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

              0     1     2     3     4  mean   std
accuracy   0.86  0.86  0.86  0.87  0.86  0.86  0.00
f1         0.67  0.67  0.68  0.70  0.68  0.68  0.01
precision  0.76  0.77  0.77  0.79  0.76  0.77  0.01
recall     0.60  0.59  0.61  0.62  0.62  0.61  0.01
roc_auc    0.92  0.92  0.92  0.92  0.92  0.92  0.00
------------------------------------------------------------
time: 41.20822477340698
set parameters: 100

f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:114: UserWarning: Features [91] are constant.
  UserWarning)
f:\ProgramData\Anaconda3\envs\normal\lib\site-packages\sklearn\feature_selection\univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

              0     1     2     3     4  mean   std
accuracy   0.86  0.86  0.87  0.87  0.86  0.86  0.00
f1         0.67  0.67  0.69  0.70  0.69  0.68  0.01
precision  0.76  0.77  0.78  0.79  0.76  0.77  0.01
recall     0.60  0.60  0.61  0.63  0.62  0.61  0.01
roc_auc    0.92  0.92  0.92  0.92  0.92  0.92  0.00
------------------------------------------------------------
time: 51.04062032699585
Mean values for each parameter:
                20        50        80        100
accuracy   0.853946  0.859922  0.862647  0.863672
f1         0.656329  0.672173  0.679723  0.682772
precision  0.753126  0.764994  0.770094  0.771560
recall     0.582011  0.599542  0.608411  0.612376
roc_auc    0.908324  0.914994  0.918613  0.919941
Std values for each parameter:
                20        50        80        100
accuracy   0.005260  0.004636  0.004463  0.004834
f1         0.009512  0.012836  0.011527  0.011929
precision  0.023295  0.010208  0.011250  0.012753
recall     0.013767  0.016128  0.013591  0.013184
roc_auc    0.003201  0.002865  0.002629  0.002652
------------------------------------------------------------

In [13]:
#新数据集预测
new_data = pd.read_excel('./datacode_for_book/chapter5/order.xlsx', sheet_name=1)  # 读取要预测的数据集
final_reponse = new_data['final_response']  # 获取最终的目标变量值
new_data = new_data.drop('final_response', axis=1)  # 获得预测的输入变量X

In [14]:
na_rules = {'age': data['age'].mean(),
        'total_pageviews': data['total_pageviews'].mean(),
        'edu': data['edu'].median(),
        'edu_ages': data['edu_ages'].median(),
        'user_level': data['user_level'].median(),
        'industry': data['user_level'].median(),
        'act_level': data['act_level'].median(),
        'sex': data['sex'].median(),
        'red_money': data['red_money'].mean(),
        'region': data['region'].median()
        }  # 字典：定义各个列数据转换方法
new_data = new_data.fillna(na_rules)  # 使用指定方法填充缺失值

In [15]:
var_list = {'edu': 'int32',
        'user_level': 'int32',
        'industry': 'int32',
        'value_level': 'int32',
        'act_level': 'int32',
        'sex': 'int32',
        'region': 'int32'
        }  # 字典：定义要转换的列及其数据类型
for var, type in var_list.items():  # 循环读出列名和对应的数据类型
    new_data[var] = new_data[var].astype(type)  # 数据类型转换
    
new_data.dtypes

age                int64
total_pageviews    int64
edu                int32
edu_ages           int64
user_level         int32
industry           int32
value_level        int32
act_level          int32
sex                int32
blue_money         int64
red_money          int64
work_hours         int64
region             int32
dtype: object

In [16]:
new_data_con = new_data[['edu', 'user_level', 'industry', 'value_level', 'act_level', 'sex', 'region']]  # 选择要做标志转换的数据
new_data_org = new_data[['age', 'total_pageviews', 'edu_ages', 'blue_money', 'red_money', 'work_hours']].values  # 设置不作标志转换的列

enc = OneHotEncoder(categories='auto')  # 建立标志转换模型对象
enc.fit(new_data_con)  # 训练模型
new_data_con_new = enc.transform(new_data_con).toarray()  # 转换数据并输出为数组格式
new_data_matrix = np.hstack((new_data_org,new_data_con_new))  # 将未转换的数据与转换后的数据合并
new_data_matrix

OneHotEncoder(categorical_features=None, categories='auto',
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

array([[6.10000e+01, 2.43019e+05, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.30000e+01, 2.15596e+05, 5.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [2.50000e+01, 3.13500e+04, 1.00000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [3.80000e+01, 3.74983e+05, 1.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [4.40000e+01, 8.38910e+04, 1.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00],
       [3.50000e+01, 1.82148e+05, 1.30000e+01, ..., 0.00000e+00,
        0.00000e+00, 0.00000e+00]])

In [20]:
transform.fit(new_data_matrix,final_reponse)  # 应用特征选择对象选择要参与建模的特征变量
X_final = transform.transform(new_data_matrix)  # 获得具有显著性特征的特征变量
final_model = AdaBoostClassifier(n_estimators=100)  # 从打印的参数均值和标准差信息中确定参数并建立分类模型对象
final_model.fit(X_final, final_reponse)  # 训练模型

SelectPercentile(percentile=50,
         score_func=<function f_classif at 0x000002C8BD781598>)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=None)

In [23]:
predict_labels = pd.DataFrame(final_model.predict(X_final), columns=['labels'])  # 获得预测标签
predict_labels_pro = pd.DataFrame(final_model.predict_proba(X_final), columns=['pro1', 'pro2'])  # 获得预测概率
predict_pd = pd.concat((new_data, predict_labels, predict_labels_pro), axis=1)  # 将预测标签、预测数据和原始数据X合并
print ('Predict info')
print (predict_pd.head(2))  # 打印前2条结果
print ('-' * 60)

Predict info
   age  total_pageviews  edu  edu_ages  user_level  industry  value_level  \
0   61           243019   10         1           2         7            2
1   33           215596    4         5           2         7            2

   act_level  sex  blue_money  red_money  work_hours  region  labels  \
0          1    1           0          0          40       1       0
1          5    1           0          0          40       6       0

       pro1      pro2
0  0.506885  0.493115
1  0.507045  0.492955
------------------------------------------------------------