In [7]:
import json

In [1]:
file = './json_test.csv'

In [45]:
with open(file,'r') as f:
    data = f.readlines()

In [16]:
data

['{"a":1,"b":1,"c":{"k1":2,"k2":3}}\n', '{"a":2,"b":1,"c":{"k1":2,"k2":3}}']

In [46]:
df = DataFrame([])
for i in data:
    i = i.strip()
    i = json.loads(i)
    s = Series(i)
    s = s.to_frame().T
    
    df = df.append(s)

In [47]:
df

   a  b                             c
0  1  1  {'k1': [2, 3], 'k2': [3, 4]}
0  2  1  {'k1': [2, 3], 'k2': [3, 4]}

In [62]:
def change_to_words(Series,column):
    dict = Series[column]
    print(dict)
    for key in dict.keys():
        Series[column + '_' + key + '_all'] = dict[key][0]
        Series[column + '_' + key + '_one'] = dict[key][1]
        
    return Series

In [65]:
df = df.apply(change_to_words,args=('c',),axis=1)

{'k1': [2, 3], 'k2': [3, 4]}
{'k1': [2, 3], 'k2': [3, 4]}
{'k1': [2, 3], 'k2': [3, 4]}

In [66]:
df

   a  b                             c  c_k1_all  c_k1_one  c_k2_all  c_k2_one
0  1  1  {'k1': [2, 3], 'k2': [3, 4]}         2         3         3         4
0  2  1  {'k1': [2, 3], 'k2': [3, 4]}         2         3         3         4

In [68]:
df.columns.str.endswith('all')

array([False, False, False,  True, False,  True, False])

In [81]:
df.loc[:,(df.columns.str.endswith('all'))]

   c_k1_all  c_k2_all
0         2         3
0         2         3

In [75]:
df[['a','b']]

   a  b
0  1  1
0  2  1