In [6]:
with open('./datacode_for_book/chapter5/sales.csv','r',encoding='utf-8') as f:
    data = pd.read_csv(f)
   

data['ORDERID'] = data['ORDERID'].astype('object')
data['USERID'] = data['USERID'].astype('object')
data[:5]

   USERID   ORDERDATE     ORDERID  AMOUNTINFO
0  142074  2016-01-01  4196439032      9399.0
1   56927  2016-01-01  4198324983      8799.0
2   87058  2016-01-01  4191287379      6899.0
3  136104  2016-01-01  4198508313      5999.0
4  117831  2016-01-01  4202238313      5399.0

In [8]:
data.describe(include='all')

         USERID   ORDERDATE       ORDERID    AMOUNTINFO
count   86135.0       86133  8.613500e+04  86127.000000
unique  60503.0         347  7.605000e+04           NaN
top     74270.0  2016-04-18  3.945060e+09           NaN
freq       14.0         300  1.300000e+01           NaN
mean        NaN         NaN           NaN    744.705249
std         NaN         NaN           NaN   1425.211176
min         NaN         NaN           NaN      0.500000
25%         NaN         NaN           NaN     13.000000
50%         NaN         NaN           NaN     59.000000
75%         NaN         NaN           NaN    629.000000
max         NaN         NaN           NaN  30999.000000

In [9]:
data.isnull().any(axis=0)

USERID        False
ORDERDATE      True
ORDERID       False
AMOUNTINFO     True
dtype: bool

In [12]:
data[data.isnull().any(axis=1)]

       USERID   ORDERDATE     ORDERID  AMOUNTINFO
20      75849  2016-01-01  4197103430         NaN
72     103714         NaN  4136159682       189.0
114    155209  2016-01-01  4177940815         NaN
229    139877         NaN  4111956196         6.3
233     54599  2016-01-01  4119525205         NaN
260     65456  2016-01-02  4195643356         NaN
62134  122134  2016-09-21  3826649773         NaN
70342  116995  2016-10-24  3981569421         NaN
80110   98888  2016-12-06  3814398698         NaN
86069  145951  2016-12-29  4139830098         NaN